build/
.tools/
*.jou
*.log
*.str
*.pb
*.wdb
*.vcd
*.xpr
*.dcp
*.bit
*.bin
*.elf
*.hex
*.map
*.disasm
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
clockInfo.txt
xsim.dir/
.Xil/
project_1.cache/
project_1.gen/
project_1.hw/
project_1.ip_user_files/
project_1.runs/
project_1.sim/
project_1.srcs/
